<div class="container" style = "background-color: lightgrey">
  <div class="col-md-8" role="banner">
    <h2>d~weeve - a Dataweave(ish) javascript thing.</h2>
  
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <p>d~weeve:</p>
        <ace-editor #dweditor style="height:350px;">
        </ace-editor>
      </div>
      <div class="col-md-5">
        <p>payload:</p>
        <ace-editor #pleditor style="height:350px;">
        </ace-editor>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <p>Result:</p>
        <ace-editor #reditor style="height:250px;">
        </ace-editor>
      </div>
      
      <div class="col-md-1"></div>
    </div>
    <br>
    <br>
</div>



