<!DOCTYPE>
<div id="wrapper">
    <div *ngIf="exampleBar" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><button (click)="toggleExampleBar()" >&lt;-- Hide</button></li>
            <li class="sidebar-brand"><ul>Dweeve Examples</ul></li>
            <li><a (click)="loadExample('Simple function')" href="#">Simple function</a></li>
            <li><a (click)="loadExample('Get people')"href="#">Get people</a></li>
            <li><a (click)="loadExample('All descendents')"href="#">All descendents</a></li>
            <li><a (click)="loadExample('Mixed matching')"href="#">Mixed matching</a></li>
            <li><a (click)="loadExample('Simple Lambda')"href="#">Simple Lambda</a></li>
            <li><a (click)="loadExample('Do scope')"href="#">Do scope</a></li>
            <li><a (click)="loadExample('Xml input')"href="#">Xml input</a></li>
            <li><a (click)="loadExample('Recursion!')"href="#">Recurse with resource</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
  

            <div class="xxcontainer" style = "background-color: lightgrey">

              
              
              <div class="content" style="padding-left: 20px; padding-right: 20px">
                  <div class="col-lg-10" role="banner">
                    <h2>d~weeve - a Dataweave(ish) javascript thing.</h2>
                    <button (click)="toggleExampleBar()"  >--&gt;Examples Bar</button>
                  </div>
                  <as-split #vsplit unit="pixel" direction="vertical" >
                    <as-split-area size="390">
                    <div class="row" style="margin-bottom: 10px;">
                      <div class="col-lg-12">
                        <as-split unit="percent" direction="horizontal" >
                          <as-split-area size="50">
                            <div  style="margin-right: 10px; ">
                              <p>d~weeve:</p>
                              <div #dweditorDiv style="height:340px">
                                <ace-editor #dweditor style="height:100%;">
                                </ace-editor>
                              </div>
                            </div>
                          </as-split-area>
                          <as-split-area size="50">
                            <div style="margin-left: 10px;">
                              <mat-tab-group disableRipple="true">
                                <!--mat-tab label = "Blockly">
                                  <div #blocklyDiv id="blocklyDiv" style="width: 400px; height: 277px"></div>
                                  <xml id="toolbox" style="display: none">
                                    <category name="Control" colour="120">
                                      <block type="controls_if"></block>
                                      <block type="controls_repeat_ext" disabled="true"></block>
                                    </category>
                                    <category name="Text" colour="230">
                                      <block type="text"></block>
                                      <block type="text_print"></block>
                                    </category>
                                    <category name="Custom" colour="360">
                                      <block type="begin"></block>
                                      <block type="move"></block>
                                      <block type="end"></block>
                                    </category>
                                  </xml>
                                </mat-tab-->
                                <mat-tab label="Payload">
                                  <div #pleditorDiv style="height:330px">
                                    <ace-editor #pleditor style="height:100%;">
                                    </ace-editor>
                                  </div>
                                </mat-tab>
                                <mat-tab label="Resource">
                                  <div>Resource name :<input [(ngModel)]="resourceNameText" #resourceName type="text" placeholder="classpath://myfolder/myFile.txt" style="width: 100%;"></div>
                                  <div #rseditorDiv style="height:277px">
                                    <ace-editor #rseditor style="height:100%;">
                                    </ace-editor>
                                  </div>
                                </mat-tab>
                                
                              </mat-tab-group>
                              

                            </div>
                          </as-split-area>
                        
                      </as-split>
                    </div>
                    </div>
                    </as-split-area>
                    <as-split-area size="*">
                    <div class="row">
                      <div class="col-md-12">
                        <mat-tab-group disableRipple="true">
                          <mat-tab label="Result:">
                        
                            <div #reditorDiv style="height:180px">
                              <ace-editor #reditor style="height:100%;">
                              </ace-editor>
                            </div>
                          </mat-tab>
                          <mat-tab label="REPL:">
                            <div #termDiv style="height:180px" class="ui-terminal">
                              <!--p-terminal  #termnial welcomeMessage="d~weeve REPL:" prompt="d~weeve->"></p-terminal -->
                              <ng-terminal #term></ng-terminal>
                              <!--div class="ui-terminal" #terminalBottom>^</div-->
                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>
                    </as-split-area>

                  </as-split>
                  <br>
                  <br>
                </div>
              
            </div>  

          </div>
        </div>
    </div>

